<%= render "navbar" %>
<div class="container">
  <div class="row">
    <%= render "user_stats" %>
    <div class="col m9 text-coloring">
      <div class="row">
        <%= render "contribution_and_streak_cards" %>
      </div>
      <div class="page">
      <div class="row">
     <div class="col s12">
       <ul class="tabs">
         <li class="tab col s3"><a href="#recent-commits">Recent Commits</a></li>
         <li class="tab col s3"><a class="active" href="#repos">Repos</a></li>
         <li class="tab col s3"><a href="#organizations">Organizations</a></li>
       </ul>
     </div>
     <div id="recent-commits" class="col s12">
       <div class="recent-commits">
         <% @user.recent_commits.each do |commit| %>
         <div class="row">
           <div class="col m6 center">
             <%= pluralize commit.commit_count, "commit" %> to <%= link_to commit.repo, commit.url %>
           </div>
           <div class="col m6 center">
             <%= commit.formatted_date %>
           </div>
         </div>
         <% end %>
       </div>
     </div>
     <div id="repos" class="col s12">
       <% @user.repos.each do |repo| %>
       <div class="row">
         <div class="col m4 center">
           <%= link_to repo.name, repo.url %>
         </div>
         <div class="col m4 center">
           Forks: <%= repo.forks_count %>
         </div>
         <div class="col m4 center">
           Stargazers: <%= repo.stargazers_count %>
         </div>
       </div>
       <% end %>
     </div>
     <div id="organizations" class="col s12">
       <ul>
         <% @user.organizations.each do |org| %>
         <div class="col m4">
           <li class="organization center">
             <%= link_to org.name, org.url %>
           </li>
         </div>
         <% end %>
       </ul>
     </div>
   </div>
  </div>

        </div>
  </div>
</div>
